<%= form_with model: @talk do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :initial_time %><br>
    <%= form.time_field :initial_time, include_seconds: false, value: @talk.pretty_initial_time, min: '09:00' %>
    <%= form.label :tracks %>
    <%= form.collection_select :track_id, Track.order(:name), :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= form_with url: create_by_csv_talks_path, method: :post do |form| %>
  <h2>Or update a csv file to create talks<h2/>
  <%= form.file_field :file %>
  <%= form.submit "Create by CSV" %>
<% end %>

